{% extends 'main/layout.html' %}
{% load static %}
{% block header %}
    <title>{{ project.title }}</title>
{% endblock %}
{% block content %}
    <canvas id="bgCanvas"></canvas>
    <div class="container min-height p-md-5 p-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'main:home' %}" class="text-decoration-none"><span class="text-danger font-2 ">Home</span></a></li>
                <li class="breadcrumb-item"><a href="{% url 'main:projects' %}" class="text-decoration-none"><span class="text-danger font-2">All projects</span></a></li>
                <li class="breadcrumb-item active" aria-current="page"><span class="font-2">{{ project.title }}</span></li>
            </ol>
        </nav>
        <div class="d-flex justify-content-center align-items-center hidden my-md-5 my-3">
            <img class="shadow-lg" src="{{ project.image_url }}" alt="{{ project.title }}" style="max-width: 100%; max-height: 60vh; object-fit: contain;">
        </div>
        <div id="readme-container" class="bg-light border shadow-lg rounded p-4"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script>
    const repoUrl = "https://raw.githubusercontent.com/abdullashahzan/{{repo_name}}/refs/heads/main/readme.md"; // replace dynamically with project.url if you have it
    fetch(repoUrl)
    .then(response => response.text())
    .then(markdown => {
    document.getElementById("readme-container").innerHTML = marked.parse(markdown);
    })
    .catch(error => {
    console.error("Error loading README:", error);
    document.getElementById("readme-container").innerHTML = "<p>Could not load README.</p>";
    });
    </script>
{% endblock %}